html {
    margin: 0;
}

body {
    text-align: center;
}

nav {
    margin-top: 20px;
    margin-bottom: 40px;
}
nav a{
    margin: 15px;
    padding: 8px;
    border: solid black 2px;
    border-radius: 20px;
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
}
nav a:hover {
    background-color: #FF2D2D;
    color: white;
}

h1 {
    font-size: 60px;
}

div {
    margin-bottom: 30px;
}

p{
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

#start, #stop, #reset {
    background-color:#FCBB5A;
    color: black;
    height: 50px;
    width: 140px;
    border: solid black 1px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
}
#start:hover, #stop:hover, #reset:hover {
    background-color: #727272;
    color: white;
}