html {
    margin: 0;
}

body {
    text-align: center;
    background-color: azure;
}

nav {
    margin-top: 20px;
    margin-bottom: 40px;
}
nav a {
    margin: 15px;
    padding: 8px;
    border: solid black 2px;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
}

nav a:hover {
    background-color: #FF2D2D;
    color: white;
}

h1{
    font-size: 50px;
    margin-bottom: 2px
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-para {
    padding: 5px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
}

#height, #weight {
    padding: 1px 5px;
    height: 40px;
    width: 150px;
    border: solid black 2px;
    border-radius: 2px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

button {
    height: 40px;
    width: 120px;
    border: solid black 2px;
    border-radius: 10px;
    font-weight: bold;
    background-color: black;
    color: white;
    transition: all 0.2s ease-in-out;
}

button:hover {
    background-color: #98ECF6;
    color: black;
}

#result {
    width: 350px;
    height: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Salsa', cursive;
    font-weight: bold;
    box-shadow: 1px 1px 10px black;
    border-radius: 4px;
    padding: 10px;
}

h3 {
    font-family: 'Bebas Neue', sans-serif;
}



.weight-guide {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.wg-divs {
    height: 60px;
    width: 180px;
    display: flex; 
    flex-direction: row;
}
.wg-color {
    height: 30px;
    width: 30px;
    border-radius: 1000px;
    margin: 5px 0px;
    padding: 10px 10px;
}
.wg-text {
    margin-top: 20px;
    margin-left: 10px;
    font-weight: bolder;
}

#uw {
    background-color: yellow;
    box-shadow: 1px 1px 10px black;
}
#nw {
    background-color: green;
    box-shadow: 1px 1px 10px black;
}
#ow {
    background-color: red; 
    box-shadow: 1px 1px 10px black;
}
